@tailwind base;
@tailwind components;
@tailwind utilities;
/* nav bar styles*/
*{
  margin: 0;
  padding: 0;
  
}
.header{
  height:90px;
  

}
/* HOMEPAGE STARTS */

.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.heading{
    font-size: 3em;
    font-weight: 600;
    max-width: 85vw;
}

.disc{
    color: #4c4c4c;
    font-size: 1.3em;
    text-align: center;
    max-width: 900px;
    line-height: 1.5;
    padding: 10px 0px 40px 0px;
}

.homepage-button{
    text-decoration: none;
    background: none;
    background-color: #212121;
    border-style: none;
    border-radius: 8px;
    padding: 12px 30px;
    color: white;
    font-size: 1em;
}

@media (max-width: 1000px){
    .disc{
        max-width: 80vw;
    }
} 
    

@media (max-width: 768px) {
    .heading{
        font-size: 2em;
        font-weight: 600;
        max-width: 85vw;
    }
    
    .disc{
        font-size: 1em;
        max-width: 90vw;
        line-height: 1;
        padding: 50px 0px 40px 0px;
    }
}

/* HOMEPAGE ENDS */

/* KEY FEATURES PAGE */

.key-features-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 120px 0px 0px 0px;
    background-color: #f2f2f2;
}

.key-features-page .disc{
    min-width: 70vw;
    padding-bottom: 100px;
}

.feature{
    width: 90vw;
}

.feature-heading{
    font-size: 1.3em;
    font-weight: 600;
}

.feature-disc{
    font-size: 1em;
    color: #4c4c4c;
    padding: 2px 0px 20px 0px;
}

@media (max-width: 768px) {
    .key-features-page{
        height: auto;
        padding-bottom: 100px;
        padding-top: 60px
    }
    .key-features-title{
        width: 85vw;
        padding-bottom: 20px;
    }

    .feature{
        width: 85vw;
    }

    .feature-heading{
        font-size: 1.1em;
        font-weight: 600;
    }
    
    .feature-disc{
        font-size: 1em;
        color: #4c4c4c;
        padding: 2px 0px 20px 0px;
    }

}

/* TESTIMONIALS PAGE START */

.testimonials-page{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

.testimonials-wrapper{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.testimonial{
    height: 25vh;
    width: 30vw;
}

.testimonial .top{
    display: flex;
}


.testimonial .top i{
    flex: 1;
    padding-left: 34px;
    font-size: 40px;
}

.testimonial .top .text{
    flex: 4;
    text-align: center;
}

.name{
    font-size: 1.2em;
    font-weight: 700;
}

.address{
    color: #4c4c4c;
}

.mid{
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
} 

.mid .time-ago{
    padding-left: 35px;
}

.bottom{
    text-align: center;
    color: #4c4c4c;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .testimonials-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }

    .testimonial{
        height: auto;
        width: 80vw;
    }

}

/* TESTIMONIALS PAGE ENDS */